<div class="container">
  <mat-toolbar>
    <a [routerLink]="['/login']">
      <img class="verdi-logo" src="assets/img/VERDI-Farbe_ohne-Schriftzug.png" alt="">
    </a>
    <div class="title-container">
      <div class="title">Mitgliederentscheid zum Verhandlungsergebnis in der Tarifrunde öD - Bezirk Mittelfranken</div>
    </div>
  </mat-toolbar>
  <div class="app-wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <h2>Hier findest du Informationen über das Verhandlungsergebnis</h2>
    <mat-list role="list">
      <mat-list-item role="listitem" class="link"><a
          href="https://bund-laender-nrw.verdi.de/++file++5f9807d4c569f6c15743afdd/download/3774_56_Flugblatt_3_VHR_final_neu.pdf">Infos
          für Angestellte</a></mat-list-item>
      <mat-list-item role="listitem" class="link"><a
          href="https://bund-laender-nrw.verdi.de/++file++5f95c1f2c55a4bbce891d4bb/download/2400_07_Flugblatt_Beamte_3VHR_V03_barrierefrei.pdf">Infos
          für Beamt*innen</a></mat-list-item>
      <mat-list-item role="listitem" class="link"><a
          href="https://bund-laender-nrw.verdi.de/++file++5f9806b589f83c63a41fc7ba/download/Flugblatt_TarifergebnisAzubis_Bund.pdf">Infos
          für Azubis, Anwärter*innen und Studierende</a></mat-list-item>
    </mat-list>
    <div>
      <a class="link" [routerLink]="['/info']" [queryParams]="{type: 'impressum'}">Impressum</a>
      |
      <a class="link" [routerLink]="['/info']" [queryParams]="{type: 'datenschutz'}">Datenschutz</a>
    </div>
  </div>

</div>
