<div class="container">
  <mat-toolbar>
    <a [routerLink]="['/login']">
      <img class="verdi-logo" src="assets/img/VERDI-Farbe_ohne-Schriftzug.png" alt="">
    </a>
    <div class="title-container">
      <div class="title">Abfrage zur Nutzung von Mobile Working und Homeoffice im FB09</div>
    </div>
  </mat-toolbar>
  <div class="app-wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div>
      <a class="link" [routerLink]="['/info']" [queryParams]="{type: 'impressum'}">Impressum</a>
      |
      <a class="link" [routerLink]="['/info']" [queryParams]="{type: 'datenschutz'}">Datenschutz</a>
    </div>
  </div>

</div>
