<mat-card class="voting-card">
  <mat-card-title>
    Abstimmung
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <form class="voting-form" [formGroup]="votingForm">
      <div class="form-element">
        <mat-label>In welcher Branche arbeitest Du?</mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="branche">
          <mat-radio-button value=0>IT</mat-radio-button>
          <mat-radio-button value=1>Telekommunikation</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>Durch die Corona Pandemie arbeite ich im Home-Office</mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="homeOffice">
          <mat-radio-button value=0>Ja</mat-radio-button>
          <mat-radio-button value=1>Nein</mat-radio-button>
          <mat-radio-button value=2>
            Ich könnte im Home-Office arbeiten, möchte aber nicht
          </mat-radio-button>
          <mat-radio-button value=3>
            Würde gerne, meine Tätigkeit lässt es leider nicht zu
          </mat-radio-button>

        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Wie gut ist Ihr Arbeitgeber bzw. Ihr Unternehmen Ihrer Meinung nach darauf eingestellt, seine Mitarbeiter von zu Hause arbeiten zu lassen?
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="prepForHomeOffice">
          <mat-radio-button value=0>
            Sehr gut
          </mat-radio-button>
          <mat-radio-button value=1>
            Eher gut
          </mat-radio-button>
          <mat-radio-button value=2>
            Unentschieden
          </mat-radio-button>
          <mat-radio-button value=3>
            Schlecht
          </mat-radio-button>
          <mat-radio-button value=4>
            Sehr schlecht
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Ausstattung benötige ich für mobile Arbeit bzw. Home-Office
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Ausstattung</mat-label>
          <textarea matInput formControlName="equipmentForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Anforderungen habe ich als Beschäftigter an mobiler Arbeit bzw. Home-Office
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Anforderungen</mat-label>
          <textarea matInput formControlName="requirementsForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Folgenden Probleme erschweren es mir, von zu Hause aus zu arbeiten?
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="problemsInHomeOffice">
          <mat-radio-button value=0>
            Schlechtes WLAN
          </mat-radio-button>
          <mat-radio-button value=1>
            Lärmbelästigung (Durch Nachbarn, Straße, etc.)
          </mat-radio-button>
          <mat-radio-button value=2>
            Mangelnde technische Ausstattung
          </mat-radio-button>
          <mat-radio-button value=3>
            Fehlender Arbeitsplatz
          </mat-radio-button>
          <mat-radio-button value=4>
            Erschwerte Kommunikation mit Kollegen
          </mat-radio-button>
          <mat-radio-button value=5>
            Leichte Ablenkung
          </mat-radio-button>
          <mat-radio-button value=6>
            Störung durch Familie und Kinder
          </mat-radio-button>
          <mat-radio-button value=7>
            Keine der genannten Antworten
          </mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="problemsInHomeOffice === 7" appearance="fill">
          <mat-label>Störung</mat-label>
          <textarea matInput formControlName="customProblems"></textarea>
        </mat-form-field>
      </div>
      
      <div class="form-element">
        <mat-label>
          Ich arbeite im Home-Office...
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="workInHomeOffice">
          <mat-radio-button value=0>
            konzentrierter
          </mat-radio-button>
          <mat-radio-button value=1>
            unkonzentrierter
          </mat-radio-button>
          <mat-radio-button value=2>
            Unentschieden
          </mat-radio-button>
          <mat-radio-button value=3>
            Merke keinen Unterschied
          </mat-radio-button>
          <mat-radio-button value=4>
            Bin mir nicht sicher
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Qualifizierung benötige ich für Mobiles Arbeiten bzw. Home-Office
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Qualifizierung</mat-label>
          <textarea matInput formControlName="qualificationForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Wie verändert sich die Kommunikationskultur in meinem Unternehmen
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Veränderung</mat-label>
          <textarea matInput formControlName="communicationChange"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Regelungsrahmen braucht das Home-Office der Zukunft
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Regelungsrahmen</mat-label>
          <textarea matInput formControlName="rulesOfFutureHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Ich spare mir durch Home-Office folgende <u>einfache</u> Fahrzeit
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="savedTravelTime">
          <mat-radio-button value=0>
            Unter 0,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=1>
            Über 0,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=2>
            Über 1,0 Stunden
          </mat-radio-button>
          <mat-radio-button value=3>
            Über 1,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=4>
            Über 2,0 Stunden
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Welchem Geschlecht gehöre ich an
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="gender">
          <mat-radio-button value=0>
            Weiblich
          </mat-radio-button>
          <mat-radio-button value=1>
            Männliche
          </mat-radio-button>
          <mat-radio-button value=2>
            Divers
          </mat-radio-button>
          <mat-radio-button value=3>
            Hat mit der Befragung nichts zu tun
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Letzte Frage: Welche Erwartungen richte ich an ver.di (getrennt durch Komma)?
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Erwartungen</mat-label>
          <textarea matInput formControlName="expectationsFromVerdi"></textarea>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="login-button" (click)="onSubmit()">Absenden</button>
  </mat-card-actions>
</mat-card>
