<mat-card class="voting-card">
  <mat-card-title>
    Abstimmung
  </mat-card-title>
  <mat-card-content>
    <mat-divider></mat-divider>
    <form class="voting-form" [formGroup]="votingForm">
      <div class="form-element">
        <mat-label>In welcher Branche arbeitest Du?</mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="branche">
          <mat-radio-button value=0>IT</mat-radio-button>
          <mat-radio-button value=1>Telekommunikation</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>Durch die Corona Pandemie arbeite ich im Home-Office</mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="homeOffice">
          <mat-radio-button value=0>Ja</mat-radio-button>
          <mat-radio-button value=1>Nein</mat-radio-button>
          <mat-radio-button value=2>
            Ich könnte im Home-Office arbeiten, möchte aber nicht
          </mat-radio-button>
          <mat-radio-button value=3>
            Würde gerne, meine Tätigkeit lässt es leider nicht zu
          </mat-radio-button>

        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Wie gut ist Ihr Arbeitgeber bzw. Ihr Unternehmen Ihrer Meinung nach darauf eingestellt, seine Mitarbeiter von zu Hause arbeiten zu lassen?
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="prepForHomeOffice">
          <mat-radio-button value=0>
            Sehr gut
          </mat-radio-button>
          <mat-radio-button value=1>
            Eher gut
          </mat-radio-button>
          <mat-radio-button value=2>
            Unentschieden
          </mat-radio-button>
          <mat-radio-button value=3>
            Schlecht
          </mat-radio-button>
          <mat-radio-button value=4>
            Sehr schlecht
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Was fehlt für mich um gut im Home-Office bzw. mobil zu Arbeiten
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Ausstattung</mat-label>
          <textarea matInput formControlName="equipmentForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Anforderungen habe ich als Beschäftigter an mobiler Arbeit bzw. Home-Office
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Anforderungen</mat-label>
          <textarea matInput formControlName="requirementsForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Folgenden Probleme erschweren es mir, von zu Hause aus zu arbeiten?
        </mat-label>
        <section class="multiple-choice-section">
          <div class="multiple-choice-section-element">
            <mat-checkbox #check0 class="multiple-choice-section-element" [value]="0" (click)="onProblemChange($event, !check0.checked)">Schlechte Internetverbindung</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check1 class="multiple-choice-section-element" [value]="1" (click)="onProblemChange($event, !check1.checked)">Lärmbelästigung (Durch Nachbarn, Straße, etc.)</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check2 class="multiple-choice-section-element" [value]="2" (click)="onProblemChange($event, !check2.checked)">Mangelnde technische Ausstattung</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check3 class="multiple-choice-section-element" [value]="3" (click)="onProblemChange($event, !check3.checked)">Fehlender Arbeitsplatz</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check4 class="multiple-choice-section-element" [value]="4" (click)="onProblemChange($event, !check4.checked)">Erschwerte Kommunikation mit Kollegen</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check5 class="multiple-choice-section-element" [value]="5" (click)="onProblemChange($event, !check5.checked)">Leichte Ablenkung</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check6 class="multiple-choice-section-element" [value]="6" (click)="onProblemChange($event, !check6.checked)">Störung durch Familie und Kinder</mat-checkbox>
          </div>
          <div class="multiple-choice-section-element">
            <mat-checkbox #check7 class="multiple-choice-section-element" [value]="7" (click)="onProblemChange($event, !check7.checked)">Keine der genannten Antworten</mat-checkbox>
          </div>
        </section>
        <mat-form-field *ngIf="problemsInHomeOffice.value.includes('Keine der genannten Antworten')" appearance="fill">
          <mat-label>Störung</mat-label>
          <textarea matInput formControlName="customProblems"></textarea>
        </mat-form-field>
      </div>
      
      <div class="form-element">
        <mat-label>
          Ich arbeite im Home-Office...
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="workInHomeOffice">
          <mat-radio-button value=0>
            konzentrierter
          </mat-radio-button>
          <mat-radio-button value=1>
            unkonzentrierter
          </mat-radio-button>
          <mat-radio-button value=2>
            Unentschieden
          </mat-radio-button>
          <mat-radio-button value=3>
            Merke keinen Unterschied
          </mat-radio-button>
          <mat-radio-button value=4>
            Bin mir nicht sicher
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Qualifizierung benötige Ich für Mobiles Arbeiten bzw. Home-Office
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Qualifizierung</mat-label>
          <textarea matInput formControlName="qualificationForHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Wie verändert sich die Kommunikationskultur in meinem Unternehmen
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Veränderung</mat-label>
          <textarea matInput formControlName="communicationChange"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Welche Regelungsrahmen braucht das Home-Office der Zukunft
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Regelungsrahmen</mat-label>
          <textarea matInput formControlName="rulesOfFutureHomeOffice"></textarea>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-label>
          Ich spare mir durch Home-Office folgende <u>einfache</u> Fahrzeit
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="savedTravelTime">
          <mat-radio-button value=0>
            Unter 0,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=1>
            Über 0,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=2>
            Über 1,0 Stunden
          </mat-radio-button>
          <mat-radio-button value=3>
            Über 1,5 Stunden
          </mat-radio-button>
          <mat-radio-button value=4>
            Über 2,0 Stunden
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Welchem Geschlecht gehöre ich an
        </mat-label>
        <mat-radio-group aria-label="Wähle eine Option" formControlName="gender">
          <mat-radio-button value=0>
            Weiblich
          </mat-radio-button>
          <mat-radio-button value=1>
            Männliche
          </mat-radio-button>
          <mat-radio-button value=2>
            Divers
          </mat-radio-button>
          <mat-radio-button value=3>
            Hat mit der Befragung nichts zu tun
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-element">
        <mat-label>
          Letzte Frage: Was sollte aus Deiner/Ihrer Sicht in Tarifverträgen, Betriebsvereinbarungen bzw. gesetzlich geregelt werden?
        </mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Erwartungen</mat-label>
          <textarea matInput formControlName="expectationsFromVerdi"></textarea>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="login-button" (click)="onSubmit()">Absenden</button>
  </mat-card-actions>
</mat-card>
